[DEFAULT]
lock_path=/tmp
[baremetal]
[boto]
ec2_url = __PROTO__://__NCC__:8773/services/Cloud
s3_url = __PROTO__://__NCC__:3333
aws_access = __ACCESS__
aws_secret = __SECRET__
[cli]
cli_dir=/usr/bin
[compute]
image_ssh_user=ubuntu
image_alt_ssh_user=ubuntu
image_ref=__IMAGE_ALT_ID__
image_ref_alt=__IMAGE_ALT_ID__
flavor_ref=2
allow_tenant_isolation = true
allow_tenant_reuse = true
[compute-admin]
[compute-feature-enabled]
api_v3=false
[dashboard]
dashboard_url=http://__DASHBOARD__/horizon
login_url=http://__DASHBOARD__/horizon/auth/login/
[data_processing]
[debug]
[identity]
uri=__PROTO__://__KEYSTONE__:5000/v2.0
uri_v3=__PROTO__://__KEYSTONE__:5000/v3.0
admin_username=admin
admin_tenant_name=admin
admin_password=openstack
username = demo
password = pass
tenant_name = demo
alt_username = alt_demo
alt_password = secret
alt_tenant_name = alt_demo
admin_role = Admin
[identity-feature-enabled]
[image]
http_image=http://10.98.191.34:8080/v1/AUTH_79699f6f71e245b186720f1e2bc03cf0/images/0.3.1/cirros-0.3.1-x86_64-uec.tar.gz
[image-feature-enabled]
[input-scenario]
[network]
tenant_network_cidr=192.168.0.0/16
public_network_id=__EXT_NET__
#public_router_id=__ROUTER__
[network-feature-enabled]
[object-storage]
accounts_quotas_available = False
container_quotas_available = False
[object-storage-feature-enabled]
[orchestration]
[scenario]
img_dir=/home/ubuntu/images
ssh_user=ubuntu
[service_available]
neutron=true
[stress]
[telemetry]
[volume]
catalog_type = volume
[volume-feature-enabled]
backup=false
